------------------------------
# Query
------------------------------

query {
  getAllDevelopers {
    id
    projectId
    name
    surname
    level
  }
}

query {
  getDevelopersOnLevel(level: "L4") {
    name
    surname
    level
  }
}

------------------------------
# Mutation
------------------------------

mutation {
  updateLevel(id: 1, level: "L4") {
     id
    name
    surname
    level
  }
}

# get value from object send to mutation ex. by frontend
# if you want send object like this go to localhost:8080/graphiql
# next expand tab "Query Variables" by left-bottom side and create object
# sample create object is present below
{
  "input": {
    "developerId": 1,
    "level": "L3"
  }
}

# LevelInput object create above
mutation($input: LevelInput) {
  updateLevelByInputObject(input: $input) {
    id
    name
    surname
    level
  }
}

------------------------------
# Subsription
------------------------------

# 1. Open localhost:8080/graphql in two tabs in your browser
# 2. In first tab we run subscription please see below

subscription{
  onDeveloperUpdate(developerId: 1) {
    id
    projectId
    name
    surname
    level
    projectTeam {
      projectName
      country
    }
  }
}

# 3. In second tab we will run mutation to update level developer please see below

mutation {
  updateLevel(id: 1, level: "L4") {
     id
    name
    surname
    level
  }
}

# 4. When run mutation to updateLevel in the first tab we can see result in real time




